<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/uploadfiles" method="post">
        <p>
            user_id<input type="text" name="user_id"/>
        </p>
        <p>
            form_type<input type="text" name="form_type"/>
        </p>
        <p>
            img<input type="text" name="img"/>
        </p>
        <p>
            img_format<input type="text" name="img_format"/>
        </p>
        <p>
            &emsp;&emsp;<input type="submit" value="上传"/>
        </p>
    </form>

</body>
</html>